<layout name="home" /><!--调用布局的模板-->
<div class="uk-grid uk-margin-top uk-grid-small uk-margin-bottom">
    <!--用户中心左侧菜单-->
    {:W('Menu/User')}
    <!--菜单结束-->
    <!--中心模块开始-->
    <div class="uk-width-8-10">
        <div class="uk-panel uk-panel-box uk-text-center uk-panel-box-secondary">
            <h3 class="uk-article-title uk-text-center">激活成功!</h3>
            <hr class="uk-article-divider">
            <span><i class="uk-icon-check" style="font-size: 200px; color: green;"></i></span>
        </div>
    </div>
    <!--中心模块结束-->
</div>