<layout name="home" /><!--调用布局的模板-->
<div class="uk-grid uk-margin-top uk-grid-small uk-margin-bottom">
    <!--用户中心左侧菜单-->
    {:W('Menu/User')}
    <!--菜单结束-->
    <!--中心模块开始-->
    <div class="uk-width-large-8-10">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <h3 class="uk-article-title">{$ActionTitle}</h3>
            <hr class="uk-article-divider">
            <div class="uk-overflow-container uk-article">
                <div class="title">
                    <span class="uk-h2">{$MessageData['title']}</span><br>
                    <small class="uk-article-meta">发件人:<span>{$sender}</span></small>
                </div>
                <br>
                <div class="uk-article-lead">
                    {$MessageData['content']}
                </div>
                <br>
            </div>
        </div>
    </div>
    <!--中心模块结束-->
</div>
<script language="javascript">
    var MessageData = <php> echo CJson($MessageData);</php>;
    
</script>