<div class="uk-width-large-2-10 uk-margin-bottom">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
        <div class="uk-container-center" style="width: 100px;overflow: hidden;">
            <img class="img-rounded"
                 src="
            <php>
            if($UserSystemData['data']['avatar']){
                echo C('HOST').substr($UserSystemData['data']['avatar'],2).'/avatar.jpg-avatar_100.jpg';
            }else{
                echo C('HOST').'/Public/images/placeholder_avatar.svg';
            }
            </php>"
             width="100" height="100" alt="">
            <div class="uk-float-right uk-vertical-align-bottom uk-text-center" style="line-height: 23px;width: 100%;">
                <h3 class=" uk-margin-small-top">{:getCanSeeName($UserSystemData)}</h3>
                <a href="" target="_blank"><button class="btn btn-primary" type="button">积分:{$UserSystemData.money}</button></a>
            </div>
        </div>
        <!--上面是用户的一些信息-->
        <hr class="uk-article-divider">
        <!--下面是导航-->
        <div >
            <ul class="uk-nav uk-nav-side uk-nav-parent-icon uk-container-center uk-text-center">
                <li class="{:UrlLike(U('User/downloads'),'uk-active')}" >
                    <a href="{:U('User/downloads')}"><i class="uk-icon-check"></i> 下载记录</a>
                </li>
                <!--积分交易（未完成）-->
                <!--<li class="{:UrlLike(U('User/recharge'),'uk-active')}">
                    <a href="{:U('User/recharge')}"><i class="uk-icon-barcode"></i> 交易记录</a>
                </li>-->
                <li class="{:UrlLike(U('User/edit'),'uk-active')}">
                    <a href="{:U('User/edit')}"><i class="uk-icon-edit"></i> 编辑资料</a>
                </li>
                <!--主要用邮箱，这里放一些不常用的记录-->
                <li class="{:UrlLike(U('User/message'),'uk-active')} uk-position-relative">
                    <a href="{:U('User/message')}"><i class="uk-icon-lightbulb-o"></i> 消息中心 {:getUserMessageNumber($UserSystemData)}</a>
                </li>
            </ul>
        </div>
        <hr class="uk-text-center">
        <div class="uk-text-center"> <a href="{:U('/Developer')}">进入发布中心</a></div>
    </div>
</div>
