<layout name="home" /><!--调用布局的模板-->
<!--幻灯部分的主体-->
<div class="uk-panel-box uk-panel-box-secondary  uk-container-center">
<table class="uk-table">
    <caption>下面是代审核的商品</caption>
    <thead>
    <tr>
        <th width="80px">商品SID</th>
        <th>商品拥有者UID</th>
        <th>联系方式</th>
        <th>PM版本</th>
        <th>商品名称</th>
        <th>更新时间</th>
        <th>审核状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <foreach name="data" item="one">
        <tr>
            <td style="vertical-align:middle">{$one['sid']}</td>
            <td style="vertical-align:middle">{$one['uid']}</td>
            <td style="vertical-align:middle">{$one['findqq']}</td>
            <td style="vertical-align:middle">{$one['version']}</td>
            <td style="vertical-align:middle">{$one['shopname']}<php>if($one['oldplugin'] !=='' and $one['oldplugin'] !== '0') echo '[更新后版本]';</php></td>
            <td style="vertical-align:middle">{$one['updatetime']}</td>
            <td style="vertical-align:middle"><php>echo \Org\Tool\PluginAuthorization::getPluginReviewWithData($one);</php>
            <td style="vertical-align:middle"><a href="{:U('/Checker/view',array('sid'=>$one['sid']))}" target="_blank" class="uk-button uk-button-success">开始审核</a></td>
        </tr>
    </foreach>
    </tbody>
</table>
    {$page}
</div>
