<layout name="home" /><!--调用布局的模板-->
<!--开始无脑循环商品内容-->
<div class="row">
<div class="col-md-8" id="mainstay">
<volist name="data" id="Shop">
        <php>
            $Shop['data'] = CJson($Shop['data'],true);
        </php>
<div id="article-list">
<article class="zan-post clearfix">
 <i class="fa fa-bookmark article-stick"></i> 
	<!-- 大型设备文章显示 -->
	<section class="visible-md visible-lg">
    <div class="category-cloud"><a rel="category tag">￥{$Shop.price}&nbsp;|&nbsp;PM:{$Shop.version}</a></div>
		<h3>
			<a href="<?php echo U('/Shop/'.$Shop['sid']); ?>">{$Shop.shopname}</a>
		</h3>
		<hr>
        <div class="row">
          <div class="col-md-5">
            <figure class="thumbnail zan-thumb"><a href="<?php echo U('/Shop/'.$Shop['sid']); ?>"><img width="400" height="240" src="{$Shop['thumburl']}" data-original="{$Shop['thumburl']}" class="lazy attachment-medium wp-post-image" alt="banner_10" style="height: 166.79999999999998px; display: block;"><noscript><img width="400" height="240" src="{$Shop['thumburl']}" class="attachment-medium wp-post-image" alt="banner_10" /></noscript></a></figure>  
          </div>            
          <div class="col-md-7 visible-lg zan-outline">
			<ul id="zi"><?php echo str_replace(array(' ','='),'',strip_tags(html_entity_decode($Shop['content'])));?></ul></div>
          <div class="col-md-7 visible-md zan-outline">         
           
          </div>
        </div>
       
        <hr>
		<div class="pull-right post-info">
			<span><i class="fa fa-calendar"></i>{$Shop.updatetime}</span>
			<span><i class="fa fa-user"></i> <a href="" title="由{:getCanSeeName($Shop)}发布" rel="author">{:getCanSeeName($Shop)}[{:GetDeveloperLevel($Shop)}]</a></span>
			<span><i class="fa fa-eye"></i>{$Shop['sales']}次</span>
			<span><i class="fa fa-comment"></i> <a href="<?php echo U('/Shop/'.$Shop['sid']); ?>">0</a></span>
      		</div>
	</section>
	<!-- 大型设备文章显示结束 -->

	<!-- 小型设备文章显示 -->
	<section class="visible-xs  visible-sm">
		<div class="title-article">
			<h4><a href="<?php echo U('/Shop/'.$Shop['sid']); ?>">{$Shop.shopname}</a></h4>
		</div>
		<p class="post-info">
			<span><i class="fa fa-calendar"></i>{$Shop.updatetime}</span>
			<span><i class="fa fa-eye"></i>{$Shop['sales']}次</span>
			<span>￥{$Shop.price}&nbsp;|&nbsp;PM:{$Shop.version}</span>
		</p>
		<div class="content-article">
      <figure class="thumbnail"><a href="<?php echo U('/Shop/'.$Shop['sid']); ?>"><img width="750" height="450" src="{$Shop['thumburl']}" data-original="{$Shop['thumburl']}" class="lazy attachment-large wp-post-image" alt="banner_10" style="display: block;"></a></figure>		
			<div class="well"><?php echo str_replace(array(' ','='),'',strip_tags(html_entity_decode($Shop['content'])));?></div>
		</div>
		<a class="btn btn-zan-line-pp btn-block" href="<?php echo U('/Shop/'.$Shop['sid']); ?>" title="详细阅读">阅读全文 <span class="badge">{$Shop['sales']}</span></a>
	</section>
	<!-- 小型设备文章显示结束 -->

</article>
</div>
</volist>
<!--循环结束-->
{$page}
<!--分页结束-->
</div>
<aside class="col-md-4" id="sidebar">
	<aside id="zan_posts_category-2">
		<div class="panel panel-zan hidden-xs">
			<div class="panel-heading">公告</div>
			<div style="margin-left: 20px;margin-top: 10px;margin-right: 20px;padding-bottom: 20px;">
			{:getHeaderNotice()}</div>
		</div>
	</aside>
	<aside id="zan_posts_category-2">
		<div class="panel panel-zan hidden-xs">
			<div class="panel-heading">热门关键词</div>
			<div style="margin-left: 20px;margin-top: 10px;margin-right: 20px;padding-bottom: 20px;"></div>
		</div>
	</aside>
	<aside id="zan_posts_category-2">
		<div class="panel panel-zan hidden-xs">
			<div class="panel-heading">搜索</div>
			<ul class="list-group">
				<form method="get" id="searchform" class="form-inline clearfix" action="{:U('/Find')}">
					<input class="form-control" type="text" name="search" id="search" placeholder="搜索关键词...">
					<button class="btn btn-zan-solid-pi btn-small" onclick="submit();"><i class="fa fa-search"></i> 查找</button>
				</form>     
			</ul>
		</div>
	</aside>
</aside>
<!--购物车的ajax操作-->
<script src="/Public/js/components/grid.min.js"></script>
</div>