<layout name="home" /><!--调用布局的模板-->
<div class="uk-grid uk-margin-top uk-grid-small uk-margin-bottom">
    <!--用户中心左侧菜单-->
    {:W('Menu/User')}
    <!--菜单结束-->
    <!--中心模块开始-->
    <div class="uk-width-large-8-10">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <h3 class="uk-article-title">{$ActionTitle}</h3>
            <hr class="uk-article-divider">
            <div class="uk-alert uk-alert-success">您总共消费了{$allnumber}元。</div>
            <table class="uk-table uk-table-striped uk-table-hover uk-form">
                <thead>
                <tr>
                    <th width="8%" class="uk-text-center">交易ID</th>
                    <th width="20%" class="uk-text-center">金额</th>
                    <th width="20%">日期</th>
                    <th width="20%">备注</th>
                    <th width="8%">状态</th>
                </tr>
                </thead>
                <tbody style="background-color: #fff;" class="boughtData">
                <foreach name="list" item="record" >
                    <tr>
                        <td style="line-height: 27px;" class="uk-text-center">{$record.mid}</td>
                        <td style="line-height: 27px;" class="uk-text-center"><span class="uk-button uk-button-primary">{$record.number}</span></td>
                        <td style="line-height: 27px;" >{$record.date}</td>
                        <td style="line-height: 27px;" >{$record.note}</td>
                        <td style="line-height: 27px;" >
                            <php>
                                switch($record['state']){
                                    case '1';
                                        echo '<i class="uk-icon-circle" style="color: #04ff70;"></i>';
                                    break;
                                    case '2';
                                        echo '<i class="uk-icon-circle" style="color: #ff0d00;"></i>';
                                    break;
                                    default;
                                        echo '<i class="uk-icon-circle" style="color: #FFCA00;"></i>';
                                    break;
                                }
                            </php>
                        </td>
                    </tr>
                </foreach>
                </tbody>
                <!--头部部分-->
            </table>
            {$page}
        </div>
    </div>
    <!--中心模块结束-->
</div>