<layout name="home" /><!--调用布局的模板-->

<div class="uk-panel-box uk-panel-box-secondary uk-margin-large-top">

<article class="uk-article">

    <h1 class="uk-article-title">我购买了服务器要怎么使用？？</h1>

    <p class="uk-article-lead">服务器购买后，会自动激活面板。并分配给面板上以你的用户名作为服主的账号。默认密码：123456</p>
    <hr class="uk-article-divider">

    <h2 id="breakpoints"><a href="#breakpoints" class="uk-link-reset">那用户名被别人使用了怎么办？</a></h2>

    <p>如果你激活了，有百分之70的几率是会自动分配的……，但是如果用户名被别人注册了，服务器会绑定到别人的用户名上。</p>

    <p>不过如果遇到了这种情况，你可以去面板重新注册一个账号，然后在用户中心的“已购买内容”里修改对应服务器的用户名。</p>

</article>

</div>