<layout name="home" /><!--调用布局的模板-->
<!--幻灯部分的主体-->
<div class="uk-container-center uk-container uk-margin-large-top ">
<div class="uk-width-large-10-10">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-align-center">
        <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <h1><a class="b" href="#"><i class="uk-icon uk-icon-refresh"></i> 找回密码</a></h1>
                <hr class="uk-article-divider">
            </div>

        </div>
        <form method="post" action="{:U('Cpasswd/tosendmail')}" onsubmit="return check()" id="dform" class="uk-form" target="_blank">
            <table class="uk-table" cellpadding="6" cellspacing="1">
                <tbody>
                <tr>
                    <td class="tl">Email</td>
                    <td class="tr"><input name="email" id="email" type="text"> <span id="demail" class="f_red"></span>
                </tr>
                <tr>
                    <td class="tl">新密码</td>
                    <td class="tr"><input name="password" id="password" type="password"> <span id="dpassword" class="f_red"></span></td>
                </tr>
                <tr>
                    <td class="tl">重复密码</td>
                    <td class="tr"><input name="cpassword" id="cpassword" type="password">&nbsp;<span id="dcpassword" class="f_red"></span></td>
                </tr>
                <tr>
                    <td class="tl">验证</td>
                    <td class="tr">
						<button class="btn btn-zan-solid-pi check" onclick="return false;">点击按钮验证</button>
						<input type="text" value="{$token}" class="check-token" name="token" style="display: none;"></input>
					</td>
                </tr>
                <tr>
                    <td class="tl">提示信息</td>
                    <td class="tr uk-text-muted">提交后，系统将发送一封验证邮件至您的注册Email，请接收邮件完成验证</td>
                </tr>
                </tbody>
            </table>
            <button  value="下一步" class="uk-button uk-button-danger uk-float-left" type="reset">重写</button>
                    <button name="submit" value="下一步" class="uk-button uk-button-primary uk-float-right" type="submit">下一步</button>

        </form>
    </div>
</div>
</div>
<script type="text/javascript" language="javascript" src="/Public/js/check.js"></script>