<layout name="home" /><!--调用布局的模板-->
<div class="uk-panel-box uk-panel-box-secondary uk-margin-large-top">
<article class="uk-article">
    <h1 class="uk-article-title">为什么我账户被删除了，降级了?</h1>
    <p class="uk-article-lead">我们并不会无缘无故的删除你的账户或者降级你的账户。</p>
    <hr class="uk-article-divider">

    <h2 id="breakpoints"><a href="#breakpoints" class="uk-link-reset">那为什么？</a></h2>

    <p>我们删除你的账户一定是因为你的行为触犯了我们平台的用户条款，或者是因为你的行为有一定问题。</p>
    <p>当你行为有极其重大的过错，我们会先对你进行协商，如果协商无果，我们首先会降低你开发者等级，如果还是没有效果，极少数情况下我们会进行直接封号或者删除</p>

</article>
</div>