<layout name="home" /><!--调用布局的模板-->
<div class="uk-panel-box uk-panel-box-secondary uk-margin-large-top">
<article class="uk-article">
    <h1 class="uk-article-title">用户条款</h1>
    <p class="uk-article-lead">我们将严格的遵守用户条款的内容，请详细阅读。</p>
    <hr class="uk-article-divider">

    <h3><span style="color: #00ff00;"><strong>网站使用条例:</strong></span></h3>
    <p>网站用户保证，其向本网站提供的服务器资源、文章和评论不得并禁止直接或间接的:</p>
    <ol>
        <li>删除、隐匿、改变本网站及其他用户上显示或其中包含的任何专利、版权、商标或其他所有权声明；</li>
        <li>以任何方式干扰或企图干扰本网站及其他用户其任何部分或功能的正常运行；</li>
        <li>避开、尝试避开或声称能够避开任何内容保护机制；</li>
        <li>&nbsp;未事先经过原始用户的同意向任何非原始用户显示或以其他方式提供任何用户信息；</li>
        <li>&nbsp;请求、收集、索取或以其他方式从任何用户那里获取对本网站及其他用户的访问权；</li>
        <li>为任何用户自动登录到本网站代理身份验证凭据；</li>
        <li>提供跟踪功能，包括但不限于识别其他用户在个人主页上查看或操作；</li>
        <li>自动将浏览器窗口定向到其他网页；</li>
        <li>未经授权冒充他人或获取对本网站的访问权；或者未经用户明确同意，让任何其他人亲自识别该用户。</li>
        <li>禁止讨论一切违反以下条例的内容:（1） 反对宪法所确定的基本原则的；（2） 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；（3） 损害国家荣誉和利益的；（4） 煽动民族仇恨、民族歧视，破坏民族团结的；（5） 破坏国家宗教政策，宣扬邪教和封建迷信的；（6） 散布谣言，扰乱社会秩序，破坏社会稳定的；（7） 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；（8） 侮辱或者诽谤他人，侵害他人合法权益的；（9） 含有法律、行政法规禁止的其他内容的。</li>
        <li><span style="color: #ff0000;">禁止直接或间接的讨论、交流、进行和煽动他人进行服务器攻击</span></li>
    </ol>
</article>
</div>