<layout name="adminhome" /><!--调用布局的模板-->
<div class="clearfix page-title">
    <h4><i class="icon-list-alt"></i>提交页演示</h4>
</div>
<hr>
<div class="row">
<div class="col-lg-12">
    <h2 class="h2">这里用来演示一些数据提交的模板</h2>
    <section class="panel">
        <form class="form-horizontal" method="get" data-validate="parsley">
            <div class="form-group">
                <label class="col-lg-3 control-label">邮箱</label>
                <div class="col-lg-8">
                    <input type="text" name="email" placeholder="test@example.com" class="bg-focus form-control parsley-validated parsley-error" data-required="true" data-type="email">
                    <ul id="parsley-779672424076125" class="parsley-error-list" style="display: block;">
                        <li class="required" style="display: list-item;">这个值必填.（因为要引入js，所以直接显示了）
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">密码</label>
                <div class="col-lg-8">
                    <input type="password" name="password" placeholder="Password" class="bg-focus form-control">
                    <div class="line line-dashed m-t-large"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">用户名</label>
                <div class="col-lg-8">
                    <input type="text" name="username" placeholder="Username" data-required="true" class="form-control parsley-validated parsley-error">
                    <ul id="parsley-1262261236552149" class="parsley-error-list" style="display: block;">
                        <li class="required" style="display: list-item;">这个值必填.（因为要引入js，所以直接显示了）
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">角色</label>
                <div class="col-lg-4">
                    <select name="account" class="form-control">
                        <option value="1">用户</option>
                        <option value="0">开发者</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">生日</label>
                <div class="col-lg-9">
                    <input type="text" class="combodate form-control" data-format="DD-MM-YYYY" data-template="D  MMM  YYYY" name="datetime" value="21-12-2012" style="display: none;">
                    <span class="combodate"><select class="day form-control" style="width: auto;"><option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option></select>&nbsp;&nbsp;<select class="month form-control" style="width: auto;"><option value=""></option>
                    <option value="0">Jan</option>
                    <option value="1">Feb</option>
                    <option value="2">Mar</option>
                    <option value="3">Apr</option>
                    <option value="4">May</option>
                    <option value="5">Jun</option>
                    <option value="6">Jul</option>
                    <option value="7">Aug</option>
                    <option value="8">Sep</option>
                    <option value="9">Oct</option>
                    <option value="10">Nov</option>
                    <option value="11">Dec</option></select>&nbsp;&nbsp;<select class="year form-control" style="width: auto;"><option value=""></option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                    <option value="2010">2010</option>
                    <option value="2009">2009</option>
                    <option value="2008">2008</option>
                    <option value="2007">2007</option>
                    <option value="2006">2006</option>
                    <option value="2005">2005</option>
                    <option value="2004">2004</option>
                    <option value="2003">2003</option>
                    <option value="2002">2002</option>
                    <option value="2001">2001</option>
                    <option value="2000">2000</option>
                    <option value="1999">1999</option>
                    <option value="1998">1998</option>
                    <option value="1997">1997</option>
                    <option value="1996">1996</option>
                    <option value="1995">1995</option>
                    <option value="1994">1994</option>
                    <option value="1993">1993</option>
                    <option value="1992">1992</option>
                    <option value="1991">1991</option>
                    <option value="1990">1990</option>
                    <option value="1989">1989</option>
                    <option value="1988">1988</option>
                    <option value="1987">1987</option>
                    <option value="1986">1986</option>
                    <option value="1985">1985</option>
                    <option value="1984">1984</option>
                    <option value="1983">1983</option>
                    <option value="1982">1982</option>
                    <option value="1981">1981</option>
                    <option value="1980">1980</option>
                    <option value="1979">1979</option>
                    <option value="1978">1978</option>
                    <option value="1977">1977</option>
                    <option value="1976">1976</option>
                    <option value="1975">1975</option>
                    <option value="1974">1974</option>
                    <option value="1973">1973</option>
                    <option value="1972">1972</option>
                    <option value="1971">1971</option>
                    <option value="1970">1970</option></select></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">个人简介</label>
                <div class="col-lg-8">
                    <textarea placeholder="简介" rows="5" class="form-control parsley-validated" data-trigger="keyup" data-rangelength="[20,200]"></textarea>
                    <div class="checkbox">
                        <label>
                            <input name="agree" type="checkbox"> 阅读并同意 <a href="#">用户条款</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-offset-3">
                    <button type="submit" class="btn btn-white">重置</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </section>
    </section>
</div>
</div>