<layout name="home" /><!--调用布局的模板-->
<!--开始无脑循环商品内容-->
<div class="uk-margin-large-top uk-panel uk-panel-box uk-panel-box-secondary uk-form-horizontal">
<form action="{:U('/Find/catalog')}" target="_self" method="get" class="uk-form ">
    <div class="uk-width-large-1-10 uk-h2 uk-float-left" style="padding: 5px 0;">搜索目录:</div>
    <input name="search" class="uk-form-large uk-width-large-9-10 uk-float-right" title="搜索" placeholder="搜索" value="{$search}">
</form>
    <div class="uk-clearfix"></div>
    <br>
<div class="uk-grid uk-margin-top  uk-margin-bottom" data-uk-grid>
    <volist name="data" id="Shop">
        <div class="uk-width-large-1-4 uk-width-medium-1-3 uk-width-small-1-2 uk-width-1-1 uk-flex uk-margin-bottom thumb_hover" data-shop="{$Shop.sid}">
            <div class="uk-panel uk-panel-box uk-panel-header uk-overflow-container box-shadow" style="overflow-x:hidden">
                <div class="uk-panel-teaser">
                    <a class="uk-overlay-toggle" href="{:U("/Shop/".$Shop['sid'])}" target="_blank">
                    <div class="uk-overlay uk-animation-hover">
                        <img src="{$Shop.thumburl}"width="100%">
                        <div class="uk-overlay-area uk-animation-scale-down"></div>
                    </div>
                    </a>
                </div>
                <div class="uk-panel uk-text-truncate">
                    <gt name="Shop['sales']" value="100">
                        <div class="uk-badge uk-badge-danger" style="margin-top: -5px;"><i class="uk-icon-fire"></i> 热门</div>
                        <else/>
                        <i class="uk-icon-bookmark-o mb-a"></i>
                    </gt>
                    <a href='{:U("/Shop/".$Shop['sid'])}' target="_blank" class="b uk-width-1-1" title="{$Shop.shopname}">{$Shop.shopname}</a>
                </div>

                <p class="uk-text-muted uk-text-small">
                    <span >￥{$Shop.price}</span>
                    <span class="uk-float-right">PM:{$Shop.version}</span>
                </p>
                <a href="{:U('/Shop/'.$Shop['sid'])}" target="_blank">
                    <div class="uk-button uk-button-primary uk-button-large uk-width-1-1  button-buy mr5" data-url="{$Shop['sid']}">
                        <!-- uk-width-medium-1-1 uk-width-small-1-1-->
                        <i class="uk-icon-money"></i> 购买</div></a>

            </div>
        </div>
    </volist>


</div>
</div>
<!--循环结束-->
{$page}
<!--购物车的ajax操作-->
<script src="/Public/js/components/grid.min.js"></script>