<layout name="home" /><!--调用布局的模板-->
<!--幻灯部分的主体-->
<div class="uk-grid uk-margin-large-top uk-grid-small">
    <!--定义网格-->
    <!--偏左主体部分-->
    <div class="uk-width-large-7-10 uk-width-medium-1-1 uk-width-small-1-1 uk-margin-bottom" style="position: relative;">
        <div class="uk-panel uk-panel-box uk-panel-box-secondary">
            <!--文章开始-->
            <div class="uk-article">
                <h1 class="uk-article-title">{$Shop.shopname}</h1>
                <div class="uk-article-meta"> PM版本：{$Shop.version} | 最后服务器更新时间：{$Shop.updatetime} |
                    分类：
                    <foreach name="Shop.catalog" item="Catalog">
                        <a target="_blank" href="{:U('/Find/catalog',array('search'=>$Catalog))}"><div class="uk-badge uk-margin-small-right" style="margin-top: -1px;">{$Catalog}</div></a>
                    </foreach></div>
                <hr class="uk-article-divider">
                <!--转存块-->
                <textarea id="contentdata" class="uk-hidden" rows="0" cols="0">{$Shop.content}</textarea>
                <script>
                    $(document).ready(function(){
                        var data = $('#contentdata').text();
                        $('#content').html(data);
                    });
                </script>
                <div id="content">
                </div>
                <hr class="uk-article-divider">
                <div>标签：
                    <foreach name="Shop.tags" item="Tag">
                        <a href="{:U('/Find/tag',array('search'=>$Tag))}" target="_blank"><div class="uk-badge uk-badge-success uk-margin-small-right">{$Tag}</div> </a>
                    </foreach>
                </div>
            </div>
            <!--文章end-->
        </div>


    </div>
    <!--偏右的侧栏部分-->
    <div class="uk-width-large-3-10 ">
        <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
            <div class="uk-panel uk-panel-title">版主</div>
            <div class="uk-vertical-align ">
<php>
                           if($ShopUser['data']['avatar']){
                            echo '<img class="uk-border-circle uk-float-left uk-margin-right uk-animation-shake uk-animation-hover" src="'.C('HOST').substr($ShopUser['data']['avatar'],1).'/avatar.jpg-avatar_80.jpg" width="80" height="80" alt="">';
                            }else{
                            echo '<img class="uk-border-circle uk-float-left uk-margin-right uk-animation-shake uk-animation-hover" src="'.C('HOST').'Public/images/placeholder_avatar.svg" width="80" height="80" alt="">';
                            }
                        </php>
                <div class="uk-vertical-align-middle">
                    <span class="uk-h3">
                        {:getCanSeeName($ShopUser)}
                    </span>
                    <span class="uk-hidden" id="shopnumget" data-shop-id="{$Shop.sid}"></span>
                    <small class="uk-badge uk-badge-success" style="line-height: 22px;font-size: 13px;float: right;margin-left: 20px;">
                        <php>
                            echo GetDeveloperLevel($ShopUser);
                        </php>
                    </small>
                </div>
            </div>
            <p class="uk-margin">{$ShopUser['data']['pdata']}</p>
        </div>
        <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
            <div class="uk-h2 uk-text-center">售价：<i class="uk-icon-money"></i> {$Shop['price']} T币</div>
        </div>
        <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary ">
            <a href="{:U('/Checker/editpost',array('sid'=>$Shop['sid']))}" class="uk-button uk-button-primary uk-width-1-1 uk-button-large" target="_blank">编辑资料</a>
            <hr style="margin: 10px 0;">
            资料审核状态:<php>echo Org\Tool\PluginAuthorization::getShopState($Shop['sid'],'post');</php>
            <div class="uk-button-group uk-width-1-1">
                <a href="{:U('/Checker/postpass',array('sid'=>$Shop['sid'],'pass'=>'yes'))}" class="uk-button uk-button-success uk-width-1-2 uk-button-large" target="_blank">资料通过审核</a>
                <a href="{:U('/Checker/postpass',array('sid'=>$Shop['sid'],'pass'=>'no'))}" class="uk-button uk-button-danger uk-width-1-2 uk-button-large" target="_blank">资料不通过审核</a>
            </div>
            <hr style="margin: 10px 0;">
            服务器审核状态:<php>echo Org\Tool\PluginAuthorization::getShopState($Shop['sid'],'plugin');</php>
            <div class="uk-button-group uk-width-1-1">
                <a href="{:U('/Checker/pluginpass',array('sid'=>$Shop['sid'],'pass'=>'yes'))}" class="uk-button uk-button-success uk-width-1-2 uk-button-large" target="_blank">服务器通过审核</a>
                <a href="{:U('/Checker/pluginpass',array('sid'=>$Shop['sid'],'pass'=>'no'))}" class="uk-button uk-button-danger uk-width-1-2 uk-button-large" target="_blank">服务器不通过审核</a>
            </div>
        </div>
    </div>
    <!--右侧主体结束-->
</div>

