<layout name="home" /><!--调用布局的模板-->
<!--幻灯部分的主体-->
<div class="uk-container-center uk-container uk-margin-large-top ">
<div class="">
    <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-width-8-10 uk-align-center">
        <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                <h1><a class="b" href="#"><i class="uk-icon uk-icon-refresh"></i> 找回密码</a></h1>
                <hr class="uk-article-divider">
            </div>

        </div>
        <form method="post" action="{:U('Cpasswd/tosendmail')}" onsubmit="return check()" id="dform" class="uk-form" target="_blank">
            <table class="uk-table" cellpadding="6" cellspacing="1">
                <tbody>
                <tr>
                    <td class="tl"><span class="f_red">*</span> Email</td>
                    <td class="tr"><input size="30" name="email" id="email" type="text"> <span id="demail" class="f_red"></span> <span class="f_gray">请填写您注册时填写的Email</span></td>
                </tr>
                <tr>
                    <td class="tl"><span class="f_red">*</span> 新登录密码</td>
                    <td class="tr"><input size="20" name="password" id="password" type="password"> <span id="dpassword" class="f_red"></span></td>
                </tr>
                <tr>
                    <td class="tl"><span class="f_red">*</span> 重复新登录密码</td>
                    <td class="tr"><input size="20" name="cpassword" id="cpassword" type="password">&nbsp;<span id="dcpassword" class="f_red"></span></td>
                </tr>
                <tr>
                    <td class="tl"><span class="f_red">*</span> 验证</td>
                    <td class="tr">
                        <div class="uk-hidden auto-del"><script async src="http://api.geetest.com/get.php?gt={:C('CAPTCHA_ID');}"></script></div>
                        <div class="verify" id="verify"></div>
                        <script language="javascript">

                            var GTvalidate = null;
                            var gt_captcha_obj;
                            $.ajax({
                                url: "{:U('Cpasswd/Verify')}",
                                type: 'get',
                                dataType: 'JSON',
                                success: function (result) {
                                    if (result.success) {
                                        window.gt_captcha_obj = new Geetest({
                                            gt: result.gt,
                                            challenge: result.challenge,
                                            product: 'float'
                                        });
                                        GTvalidate = null;
                                        gt_captcha_obj.appendTo($('.verify'));
                                        gt_captcha_obj.onSuccess(function () {
                                            GTvalidate = gt_captcha_obj.getValidate()
                                        });
                                        gt_captcha_obj.onError(function () {
                                            GTvalidate = null
                                        });
                                        gt_captcha_obj.onRefresh(function () {
                                            $.ajax({
                                                url: "{:U('Register/Verify')}",
                                                type: "get",
                                                dataType: 'JSON',
                                                success: function (result) {
                                                    window.gtcallback = result;
                                                }
                                            });
                                        })
                                    }
                                }
                            });
                        </script></td>
                        <script type="text/javascript">
                            var DTPath = "{:C('HOST')}";
                            function Dd(i) {
                                return document.getElementById(i)
                            }
                            function Dmsg(str, i, s, t) {
                                var t = t ? t : 5000;
                                var s = s ? true : false;
//                                try {
                                    if (s) {
                                        window.scrollTo(0, 0)
                                    }
                                    Dd('d' + i).innerHTML = '<i class="uk-icon-exclamation-circle"></i> ' + str + sound('tip');
                                    Dd(i).focus();
//                                } catch (e) {
//                                }
                                window.setTimeout(function () {
                                    Dd('d' + i).innerHTML = ''
                                }, t)
                            }
                            function sound(f) {
                                return '<div style="float:left;"><embed src="' + DTPath + 'file/flash/' + f + '.swf" quality="high" type="application/x-shockwave-flash" height="0" width="0" hidden="true"/></div>'
                            }
                        </script>
                </tr>
                <tr>
                    <td class="tl">提示信息</td>
                    <td class="tr uk-text-muted">提交后，系统将发送一封验证邮件至您的注册Email，请接收邮件完成验证</td>
                </tr>
                </tbody>
            </table>
            <button  value="下一步" class="uk-button uk-button-danger uk-float-left" type="reset">重写</button>
                    <button name="submit" value="下一步" class="uk-button uk-button-primary uk-float-right" type="submit">下一步</button>

        </form>
        <script type="text/javascript">
            function check() {
                if(Dd('email').value.length < 7) {
                    Dmsg('请填写注册Email地址', 'email');
                    return false;
                }
                if(Dd('password').value.length > 20 || Dd('password').value.length < 6) {
                    Dmsg('密码长度应为6-20字符', 'password');
                    return false;
                }
                if(Dd('password').value != Dd('cpassword').value) {
                    Dmsg('两次输入的密码不一致', 'cpassword');
                    return false;
                }
                if(!is_captcha(Dd('captcha').value)) {
                    Dd('captcha').focus();
                    return false;
                }
                return true;
            }
        </script>
    </div>
</div>
</div>